*,
::before,
::after{
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin-left: 30px;
    margin-right: 30px;
}

h2{
    font-size: 25px;
    line-height: 22px;
    color: #fff;
}
p{
    width: 574px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}
.list-one{ 
    box-sizing: content-box;
    width: 870px;
    list-style: none;
    padding: 50px 25px 60px 25px;
}
.title ,
.title-2,
.title-3{
    height: 200px;
    padding: 30px;
    background-color: blueviolet;
    display: flex   ;
    margin: 15px;
}
.title::before{
    content: "";
    width: 90px;
    height: 90px;
    margin: 50px 25px;
    border-radius: 50%;
    background-image: url("https://assets.htmlacademy.ru/img/tutors/ruler-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.title-2::before{
    content: "";
    width: 90px;
    height: 90px;
    margin: 50px 25px;
    border-radius: 50%;
    background-image: url("https://assets.htmlacademy.ru/img/tutors/consulting-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.title-3::before{
    content: "";
    width: 90px;
    height: 90px;
    margin: 50px 25px;
    border-radius: 50%;
    background-image: url("https://assets.htmlacademy.ru/img/tutors/bottle-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;}